// variables
$white: #fff;
$red: #ff2832;
$blue: #365db5;
$gray: #666666;
$opengray: #ddd;
$darkgray: #444444;


// include front end design
// include front end design
@import "frontend/navbar";
@import "frontend/header";
@import "frontend/homePage";

// include back end design
// include back end design
@import "backend/backendDesign";

